.itk-slider {
  position: relative;
  left: -200px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
}

#slider2 {
  position: relative;
  top: 400px;
  width: 30px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
}
.itk-slider .slide-img {
  display: grid;
  width: 640px;
}

button {
  display: grid;
  height: 20px;
}
